@import 'line-awesome/dist/line-awesome/css/line-awesome.min.css';

@tailwind base;

@layer base {

  html {
    font-family:
      'Source Sans Pro',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  body {
    @apply dark:bg-gray-800 bg-gray-200 dark:text-white text-gray-900;
  }

  h1 {
    @apply text-4xl py-2 mb-4;
  }
  h2 {
    @apply text-3xl py-2 mb-4;
  }
  h3 {
    @apply text-2xl py-2 mb-4;
  }
  h4 {
    @apply text-xl py-2 mb-4;
  }
  h5 {
    @apply text-lg py-2 mb-4;
  }

  p {
    @apply py-2
  }

}

@tailwind components;
@tailwind utilities;
